---
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";
const glossary = await getCollection("glossary");

function groupGlossaryByLetter(data) {
	return data.reduce((acc, { data: item }) => {
		const firstLetter = item.title.charAt(0).toUpperCase();
		if (!acc[firstLetter]) {
			acc[firstLetter] = [];
		}
		acc[firstLetter].push(item);
		return acc;
	}, {});
}

const glossaryAZ = groupGlossaryByLetter(glossary);
---

<Layout title="Glossário Full-stack.">
	<div class="max-w-lg mx-auto space-y-8 mt-6">
		<header>
			<h1 class="text-3xl font-bold text-gray-100">Glossário Full-stack</h1>
			<p class="text-gray-300/90">
				Descubra os termos mais comuns do front e back-end
			</p>

			<nav class="space-x-2">
				{
					Object.keys(glossaryAZ).map((item) => {
						return <a href={`#${item}`}>{item}</a>;
					})
				}
			</nav>
		</header>
		<main class="pb-12">
			<ul class="space-y-6">
				{
					Object.keys(glossaryAZ).map((item) => {
						return (
							<li id={item}>
								<a href={`#${item}`} class="text-2xl">
									{item}
								</a>
								{glossaryAZ[item] && (
									<ul class="space-y-4 mt-4 border-t pt-3 border-gray-100/10">
										{glossaryAZ[item].map(({ title, description }) => (
											<li>
												<span class="font-semibold">{title}</span>
												<br />

												<p class="text-gray-300/90 hover:text-white">
													{description}
												</p>
											</li>
										))}
									</ul>
								)}
							</li>
						);
					})
				}
			</ul>
		</main>

		<footer
			class="text-center text-gray-400 pb-6 border-t pt-6 border-gray-100/10"
		>
			feito com 💜 maykbrito
		</footer>
	</div>
</Layout>
